@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
  color-scheme: light dark;
  --red-violet: #da18a3;
  --red-linear: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 0
  );
  --dark: #24252d;
  --gray-1: #e3e1e3;
  --gray-2: #888;
  --gray-3: #4f4f4f;
  --black-1: #2d2e36;
  --black-2: #1b1a21;
  --black-3: #2a2d3a;
  --black-4: #24252d;
  --h1:28px;
  --h2:24px;
  --h3:20px;
  --p1: 16px;
  --p2: 14px;
  --p3: 12px;
  --p4: 10px;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

button {
  position: relative;
}

input {
  vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
  vertical-align: middle;
}

textarea.success {
  border-color: #8b8 !important;
}

textarea.fail {
  border-color: #f00 !important;
  background-color: rgba(255, 0, 0, 0.05);
}

textarea,
input {
  outline: none;
} /* osx */

.Panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
}

.TabbedPanel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs {
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs .Tab {
  padding: 10px;
  text-transform: uppercase;
}

.TabbedPanel .Tabs .Panels {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Listbox */
.Listbox {
  color: #4f4f4f;
  background-color: #fff;
  padding: 0;
  width: 100%;
  min-height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
}

.Listbox .ListboxItem {
  padding: 6px;
  color: #666;
  white-space: nowrap;
}

.Listbox .ListboxItem.active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* CodeMirror */

.CodeMirror {
  position: absolute !important;
  top: 37px;
  width: 100% !important;
  height: calc(100% - 37px) !important;
}

.CodeMirror .errorLine {
  background: rgba(255, 0, 0, 0.25);
}

.CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0 20px;
}

/* outliner */

#outliner .opener {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  vertical-align: top;
  text-align: center;
}

#outliner .opener.open:after {
  content: "−";
}

#outliner .opener.closed:after {
  content: "+";
}

#outliner .option {
  border: 1px solid transparent;
}

#outliner .option.drag {
  border: 1px dashed #999;
}

#outliner .option.dragTop {
  border-top: 1px dashed #999;
}

#outliner .option.dragBottom {
  border-bottom: 1px dashed #999;
}

#outliner .type {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #ddd;
  text-align: center;
}

#outliner .type:after {
  content: "●";
}

/* */

#outliner .Scene {
  color: #8888dd;
}

#outliner .Camera {
  color: #dd8888;
}

#outliner .Light {
  color: #dddd88;
}

/* */

#outliner .Object3D {
  color: #aaaaee;
}

#outliner .Mesh {
  color: #8888ee;
}

#outliner .Line {
  color: #88ee88;
}

#outliner .LineSegments {
  color: #88ee88;
}

#outliner .Points {
  color: #ee8888;
}

/* */

#outliner .Geometry {
  color: #aaeeaa;
}

#outliner .Material {
  color: #eeaaee;
}

/* */

#outliner .Script:after {
  content: "◎";
}

/*  */

button {
  color: #4f4f4f;
  background-color: #ddd;
  border: 0px;
  margin: 0px; /* GNOME Web */
  padding: 5px 8px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
}

button.selected {
  background-color: #fff;
}

input,
textarea {
  border: 1px solid transparent;
  color: #4f4f4f;
}

input.Number {
  color: #da18a3 !important;
  font-size: 12px;
  border: 0px;
  padding: 2px;
}

select {
  color: #666;
  background-color: #ddd;
  border: 0px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: #fff;
}

/* UI */

#resizer {
  position: absolute;
  top: 32px;
  right: 295px;
  width: 5px;
  bottom: 0px;
  /* background-color: rgba(255,0,0,0.5); */
  cursor: col-resize;
}

#viewport {
  position: absolute;
  top: 80px;
  left: 80px;
  right: 300px;
  bottom: 0;
}

#viewport #info {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

#script {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
  opacity: 0.9;
}

#player {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
}

#menubar {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 32px;
  background: #eee;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

#menubar .menu {
  float: left;
  cursor: pointer;
  padding-right: 8px;
}

#menubar .menu.right {
  float: right;
  cursor: auto;
  padding-right: 0;
  text-align: right;
}

#menubar .menu .title {
  display: inline-block;
  color: #fff;
  margin: 0;
  padding: 8px;
  line-height: 16px;
}

#menubar .menu .options {
  position: fixed;
  display: none;
  padding: 5px 0;
  background: #eee;
  width: 150px;
  max-height: calc(100% - 80px);
  overflow: auto;
}

#menubar .menu:hover .options {
  display: block;
}

#menubar .menu .options hr {
  border-color: #ddd;
}

#menubar .menu .options .option {
  color: #666;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#menubar .menu .options .option:hover {
  color: #fff;
  background-color: #da18a3;
}

#menubar .menu .options .option:active {
  color: #666;
  background: transparent;
}

#menubar .menu .options .inactive {
  color: #bbb;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 300px;
  background: #eee;
  overflow: auto;
}

#sidebar .Panel {
  color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#sidebar .Panel.collapsed {
  margin-bottom: 0;
}

#sidebar .Row {
  min-height: 20px;
  margin-bottom: 10px;
}

#sidebar canvas {
  vertical-align: middle;
}

#tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

#tabs span {
  color: #aaa;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#tabs span.selected {
  color: #fff;
  background-color: #eee;
}

#toolbar {
  position: absolute;
  left: 90px;
  top: 92px;
  width: 32px;
  background: #eee;
  text-align: center;
}

#toolbar button,
#toolbar input {
  height: 32px;
}

#toolbar button img {
  width: 16px;
  opacity: 0.5;
}

.Outliner {
  color: #4f4f4f;
  background-color: #fff;
  padding: 0;
  width: 100%;
  height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  resize: vertical;
  outline: none !important;
}

.Outliner .option {
  padding: 4px;
  color: #666;
  white-space: nowrap;
}

.Outliner .option:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.Outliner .option.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.TabbedPanel .Tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

.TabbedPanel .Tab {
  color: #aaa;
  border-right: 1px solid #ccc;
  background-color: #2d2e36;
}

.TabbedPanel .Tab.selected {
  color: #fff;
  background-color: #eee;
}

.Listbox {
  color: #4f4f4f;
  background-color: #fff;
}

.Panel {
  color: #fff;
}

.test {
  height: 100%;
  width: 80px;
  z-index: 1;
  background-color: var(--dark);
  position: absolute;
  padding-top: 30px;
}

.test-menu {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-menu:hover {
  background-color: var(--gray-3);
}

.test-text {
  color: #fff;
  font-size: var(--p4);
}

.menu-options {
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  align-items: center;
  justify-content: center;
}

.menu-options .text {
  color: white;
  font-size: var(--p4);
  text-align: center;
}

.menu-options .icon {
  width: 25px;
  height: 25px;
  color: white;
}

.menu-options:hover {
  background-color: var(--gray-3);
}

.menu-options.active {
  background-color: var(--gray-3);
}

#side-menu-bar {
  height: 100%;
  width: 80px;
  z-index: 1;
  background-color: var(--dark);
  position: absolute;
  padding-top: 80px;
}

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
  background-color: var(--black-2);
  height: 80px;
}

#navbar #navbar-left {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0 43px;
}

#navbar #navbar-left #logo {
  height: 40px;
  width: 40px;
  background: var(--red-linear);
  border-radius: 50%;
}

#navbar #navbar-left input {
  font-size: var(--p1);
  font-family: "Poppins";
  color: white;
  background: transparent;
  border: none !important;
  outline: none;
  cursor: pointer;
}

#navbar #navbar-center {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0 12px;
  justify-content: center;
}

#navbar #navbar-center .divider {
  width: 1px;
  height: 30px;
  opacity: 0.2;
  background-color: #c4c4c4;
}

#navbar #navbar-center #viewport-size {
  padding: 2px 0;
  width: 60px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: var(--gray-3);
}

#navbar #navbar-center img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#navbar #navbar-right {
  display: flex;
  align-items: center;
  gap: 0 35px;
  flex: 1;
  justify-content: flex-end;
}

#navbar #navbar-right #save-button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: var(--p1);
  border-radius: 5px;
  display: flex;
  gap: 0 5px;
  align-items: center;
  background-color: var(--red-violet);
  color: white;
}

#navbar #navbar-right #download-button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: var(--p1);
  border-radius: 5px;
  display: flex;
  gap: 0 5px;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--red-violet);
  color: var(--red-violet);
}

#menu-sidebar {
  position: absolute;
  z-index: 1;
  display: none;
  transition: opacity 300ms ease-out;
  opacity: 0;
  left: 80px;
  top: 80px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 80px);
  background-color: var(--black-1);
}

#menu-sidebar-add .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#menu-sidebar-import {
  display: flex;
  gap: 40px 0;
  padding-bottom: 40px;
  height: calc(100% - 40px);
  flex-direction: column;
}

#menu-sidebar-import .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 0;
  flex-direction: column;
  margin: 0 32px;
  font-size: var(--p1);
  font-weight: 600;
  background-color: rgba(255,255,255,0.05);
  color: var(--gray-2);
  border: 1px dashed var(--gray-2);
  border-radius: 5px;
}

.container.active {
  background-color: rgba(255,255,255,0.05);
  color: white !important;
  border: 1px dashed white !important;
}


#menu-sidebar-import .container .icon {
  height: 42px;
  width: 42px;
  filter: invert(58%) sepia(9%) saturate(9%) hue-rotate(340deg) brightness(91%) contrast(82%);
}

.icon.active {
  filter: none !important;
}

#menu-sidebar-import .button {
  padding: 13px 0;
  display: flex;
  justify-content: center;
  margin: 0 32px;
  font-size: var(--p1);
  font-weight: 600;
  color: var(--gray-2);
  border: 1px solid var(--gray-2);
  border-radius: 5px;
}

#menu-sidebar-import .button.active {
  border-color: white;
  color: white;
}




.menu-sidebar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  cursor: pointer;
}

.menu-sidebar-button:hover .menu-sidebar-button-hover {
  background: var(--red-violet);
}

.menu-sidebar-button:hover .menu-sidebar-button-text {
  color: white;
}

.menu-sidebar-button:hover .menu-sidebar-button-icon {
  filter: none;
}

.menu-sidebar-button-icon {
  width: 42px;
  height: 42px;
  background: transparent;
  filter: invert(58%) sepia(9%) saturate(9%) hue-rotate(340deg) brightness(91%) contrast(82%);
}



.menu-sidebar-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px 0;
  justify-content: center;
  flex: 1;
}

.menu-sidebar-button-text {
  font-size: var(--p1);
  font-weight: 600;
  text-align: center;
  padding: 0 5px;
  color: var(--gray-2);
}

.menu-sidebar-button-hover {
  background: transparent;
  height: 5px;
  width: 100%;
}

.header {
  padding: 6px 14px;
  font-size: var(--h3);
  background-color: rgba(255,255,255,0.14);
  font-weight: 600;
}
/* */

@media all and (max-width: 600px) {
  #resizer {
    display: none;
  }

  #menubar .menu .options {
    max-height: calc(100% - 372px);
  }

  #menubar .menu.right {
    display: none;
  }

  #viewport {
    left: 0;
    right: 0;
    top: 80px;
    height: calc(100% - 352px);
  }

  #script {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #player {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #sidebar {
    left: 0;
    width: 100%;
    top: calc(100% - 320px);
    bottom: 0;
  }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  button {
    color: #aaa;
    background-color: #2a2d3a;
  }

  button:hover {
    color: #ccc;
    background-color: #4f4f4f;
  }

  button.selected {
    color: #fff;
    background-color: #da18a3;
  }

  input,
  textarea {
    background-color: #2a2d3a;
    border: 1px solid transparent;
    color: #fff;
  }

  select {
    color: #aaa;
    background-color: #2a2d3a;
  }

  select:hover {
    color: #ccc;
    background-color: #4f4f4f;
  }

  /* UI */

  #menubar {
    background: #24252d;
  }

  #menubar .menu .options {
    background: #24252d;
  }

  #menubar .menu .options hr {
    border-color: #2a2d3a;
  }

  #menubar .menu .options .option {
    color: #fff;
  }

  #menubar .menu .options .inactive {
    color: #4f4f4f;
  }

  #sidebar {
    background-color: #24252d;
  }

  #sidebar .Panel {
    border-top: 1px solid #2a2d3a;
  }

  #sidebar .Panel.Material canvas {
    border: solid 1px #5a5a5a;
  }

  #tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #2a2d3a;
  }

  #tabs span {
    color: #4f4f4f;
    border-right: 1px solid #2a2d3a;
  }

  #tabs span.selected {
    background-color: #24252d;
  }

  #toolbar {
    background-color: #24252d;
  }

  #toolbar img {
    filter: invert(1);
  }

  .Outliner {
    color: #fff;
    background: #2a2d3a;
  }

  .Outliner .option:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Outliner .option.active {
    background-color: rgba(21, 60, 94, 1);
  }

  .TabbedPanel .Tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #2a2d3a;
  }

  .TabbedPanel .Tab {
    color: #4f4f4f;
    border-right: 1px solid #2a2d3a;
  }

  .TabbedPanel .Tab.selected {
    color: #fff;
    background-color: #24252d;
  }

  .Listbox {
    color: #fff;
    background: #2a2d3a;
  }

  .Listbox .ListboxItem:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Listbox .ListboxItem.active {
    background-color: rgba(21, 60, 94, 1);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #24252d;
  margin: auto;
  padding: 20px;
  border: 1px solid #2a2d3a;
  width: 50%;
}
